@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #87DB86;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #143D13;
}

h1#principal {
    text-align: center;
    background: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #663e3e;
}

.destaque {
    background-color: #c3c3596c;
}