@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D9A404, #BF4E24);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #52392c79;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9A404;
    text-align: center;
    text-shadow: 1px 1px 2px #7d5e026d;
}

h2 {
    color: #496567;
}

p {
text-align: justify;
}